extends layout 
block main-content
  link(rel="stylesheet", type="text/css", href="/public/styles.css")

  img.aboutflo(src='/img/aboutflo.jpg')
  h1.about About Us
    p.story The Story of Purse Imoprum,
    p.began We began in 1995, with a small shop located in Manhattan New York. Now we are a global company with locations across the world. Some of our main locations include Paris France, London England, San Francisco, Rome Italy.